/* Styles for Testing Purposes Only */
.test {
  border: 1px solid red; }

.min_height {
  min-height: 10px; }

/* Imports */
/*
 * Styling and idea from http://www.alessioatzeni.com/blog/css3-loading-animation-loop/
*/
.circle {
  background-color: transparent;
  border: 5px solid rgba(178, 178, 178, 0.9);
  opacity: .9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50px;
  box-shadow: 0 0 35px #828282;
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;
  top: 50px;
  -moz-animation: spinPulse 1s infinite ease-in-out;
  -webkit-animation: spinPulse 1s infinite linear; }

.circle1 {
  background-color: transparent;
  border: 5px solid rgba(178, 178, 178, 0.9);
  opacity: .9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 50px;
  box-shadow: 0 0 15px #828282;
  width: 50px;
  height: 50px;
  margin: auto;
  position: relative;
  top: -25px;
  -moz-animation: spinoffPulse 1s infinite linear;
  -webkit-animation: spinoffPulse 1s infinite linear; }

@-moz-keyframes spinPulse {
  0% {
    -moz-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #828282; }
  50% {
    -moz-transform: rotate(145deg);
    opacity: 1; }
  100% {
    -moz-transform: rotate(-320deg);
    opacity: 0; } }
@-moz-keyframes spinoffPulse {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #828282; }
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-320deg);
    opacity: 0; } }
@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
/* General STYLES */
body {
  background-color: #D6D6D6;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: #000;
  font-family: "expo-serif-pro", georgia, times, serif;
  font-size: 14px;
  font-weight: 400; }

h1 {
  margin: 20px 0 5px;
  font-size: 30px;
  font-family: "expo-serif-pro", georgia, times, serif;
  font-weight: 700; }

h2 {
  margin: 5px 0;
  font-style: italic;
  font-family: "expo-serif-pro", georgia, times, serif;
  font-family: "expo-serif-pro", georgia, times, serif;
  font-weight: 300;
  font-size: 24px; }

h3 {
  margin: 5px 0;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px; }

#contributors {
  color: #5d5d5d;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 13px; }

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px; }

.row {
  margin: 0; }

.btn {
  border-radius: 0;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase; }

.btn-primary {
  background: #282828;
  border: 1px #B2B2B2 solid; }

.btn-primary:hover {
  background: #282828;
  border: 1px #B2B2B2 solid;
  cursor: default; }

.btn-default {
  background: #EFEDE8; }

.btn-inactive {
  color: grey;
  border: 1px #B2B2B2 solid;
  background: #B2B2B2;
  cursor: default; }

.btn-inactive:hover {
  color: grey;
  border: 1px #B2B2B2 solid;
  background: #B2B2B2; }

.hide {
  display: none; }

.center {
  text-align: center; }

/* Main Layers */
.header {
  background: #282828;
  border-bottom: 6px solid #DE6842;
  height: 72px; }

#cesta_logo {
  position: relative;
  background-image: url("../images/cesta_logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 49px;
  width: 120px;
  margin: 8.5px 60px;
  float: right; }

#body_content {
  position: relative;
  background: #efede8;
  margin: 0;
  padding: 0 60px; }

#overview_text {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0; }

/* TODO: Organize CSS */
#program_description_area {
  width: 270px;
  height: 950px;
  position: relative;
  display: block;
  float: left;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }

#description_trends_toggle_btn_container {
  display: flex;
  justify-content: space-between; }
  #description_trends_toggle_btn_container .btn {
    text-align: center;
    width: 49%;
    font-family: "Avenir", "lato", helvetica, sans-serif;
    font-weight: 700;
    font-size: 14.5px; }

#program_description_text {
  /* Required for text-overflow to do anything */
  overflow: hidden;
  margin: 10px 10px 30px 5px;
  flex: 1;
  text-overflow: ellipsis;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 300;
  text-size: 14px; }

#program_description_btn_container {
  display: flex;
  justify-content: space-between; }
  #program_description_btn_container .btn {
    text-align: center;
    width: 49%; }

#background_text_area {
  padding: 30px 0px; }

#background_text {
  width: 650px;
  float: left;
  padding: 0px 10px; }

#background_notes {
  width: 190px;
  float: left; }

#main {
  background: #f4f2ee;
  margin: 0 -60px;
  padding: 10px 60px 30px; }

#main_interactive_area {
  display: block;
  float: left;
  width: 808px; }

/* Tool Tip */
.tooltip {
  color: #fff;
  background: transparent;
  opacity: 0.75;
  position: absolute;
  pointer-events: none; }

.tooltip > .tooltext {
  background: #000;
  margin: 0px;
  padding: .5em;
  border-radius: 0px;
  -moz-box-shadow: 0px 0px 2px 0px #a6a6a6;
  -webkit-box-shadow: 0px 0px 2px 0px #a6a6a6;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.75px;
  text-shadow: #111 0 1px 0;
  text-align: center; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  margin-top: -5px; }

/* Time Controller Styles */
#timeline_controls {
  display: flex;
  justify-content: space-between;
  position: relative; }

#timeline_controls > .btn {
  height: 30px;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 100;
  font-size: 13.5px;
  color: #5b5855; }

#program_menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 50px; }

#program_menu > .menuitem {
  display: inline-block;
  padding: 5px 13px;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  -moz-box-shadow: 0, 0, 25, 5, #fff;
  -webkit-box-shadow: 0, 0, 25, 5, #fff;
  box-shadow: 0, 0, 25, 5, #fff; }

/*# sourceMappingURL=ftm.css.map */
