/* MAP INFO SPACE */
#year {
  color: white;
  background-color: #282828;
  padding: 3px 10px 0;
  float: left;
  margin: 0 0 5px;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px; }

#map_title {
  float: left;
  width: 100%;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 19px;
  padding: 10px 0 5px; }

#map_subtitle, #linechart_subtitle {
  float: left;
  width: 100%;
  color: #716f6c;
  font-size: 10px;
  font-style: normal;
  font-weight: 100;
  line-height: 10px;
  margin: 0 0 5px; }

/* LEGEND */
#legend {
  float: left;
  width: 100%;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px; }

.legend_key {
  height: auto; }

.legend_color {
  width: 7px;
  height: 49px;
  float: left;
  border-bottom: #d1cfcc 1px solid; }

.legend_color_null {
  width: 7px;
  height: 20px;
  float: left;
  border-bottom: #d1cfcc 1px solid; }

.legend_class {
  height: 49px;
  display: table-cell;
  bottom: -39px;
  left: 5px;
  position: relative; }

.legend_class_null {
  height: 20px;
  display: table-cell;
  vertical-align: bottom;
  bottom: -10px;
  left: 5px;
  position: relative; }

#non_applicable {
  float: left;
  padding: 2px 10px;
  margin: 30px 0px 20px;
  font-family: "Avenir", "lato", helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: white;
  background-color: #999999; }

#map_toggle_btn {
  margin: 5px 0;
  float: left;
  width: 100%;
  font-size: 12px;
  color: #5b5855; }

/*# sourceMappingURL=legend.css.map */
