/* map.css */
.map_sidebar {
  display: block;
  float: left;
  width: 155px;
  margin-top: 15px; }

.map_centerbar {
  display: block;
  float: left;
  width: 588px;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: 50px; }
  .map_centerbar#linechart_data {
    margin-left: 0px;
    width: 638px; }

#map {
  position: relative;
  height: 650px; }
  #map svg {
    position: relative;
    width: 100%;
    height: 100%; }

.country_foreground {
  fill: #999999;
  stroke: #fff;
  stroke-width: 1px; }

.country_background {
  fill: #999999;
  stroke: #fff;
  stroke-width: 1px; }

.other_state {
  fill: #999999;
  stroke: #fff;
  stroke-width: 1px; }

.state {
  fill: transparent;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-opacity: .90;
  stroke-width: 1.5px; }

.light_border {
  fill: #828282;
  stroke: #fff;
  stroke-width: 1px; }

.dark_gray {
  fill: #999999;
  pointer-events: none; }

.light_gray {
  fill: #e1e1e1;
  background-color: #e1e1e1;
  stroke-width: .5px; }

.wc {
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: .25px; }
  .wc:hover:not(.selected) {
    stroke: #888888;
    stroke-width: 2px; }
  .wc .selected {
    stroke: #000;
    stroke-width: 2px;
    z-index: 100; }

/*# sourceMappingURL=map.css.map */
